@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* HEADER */
a {
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
  display: none;
  position: absolute;
  top: 2.6rem;
  left: 0;
  padding-left: 0;
  background:#f1f3f5;
  width: 100%;
  text-align: left;
  z-index: 1;
  font-weight: bolder;
  
}
ul li {
  padding: .4em 0;
}
ul li:hover{
  width: 100%;
  background-color: #e3e5eb;
  padding: .6em 0;
  transition: .3s;
}
.displayed{
  display: block;
  transform: translateY(0);
  transition: 1s;
}

/* LOGIN */
.containerLogin{
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
  height: 20rem;
  padding: 1rem;
}
.lateral{  
  position: relative;
  color: #020211; 
  width: 70%;
  box-sizing: border-box;
  height: 25.4rem;
  border-right: solid .1rem rgb(231, 163, 60) ;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
  padding: 1rem 1rem;
}
.lateral h1{
  position: absolute;
  font-size: 4rem;
  color: #e79c2a;
  z-index: 1;
  top: 40%;
  border: solid;
  margin: 0;
  left: 20%;
}
.img1{
  grid-row: 1 / span 5;
  grid-column: 1 /span 2;
  background-image: url("./components/assets/img1.jpg");
  background-size: cover;
  opacity: .3;
}
.img2{
  grid-row: 2 / span 5;
  grid-column: 3 / span 2;
  background-image: url("./components/assets/img2.jpg");
  background-size: cover;
  opacity: .2;
}
.img3{
  grid-row: 3/ span 5;
  grid-column: span 2;
  background-image: url("./components/assets/img3.jpg");
  background-size: cover;
  opacity: .1;
}
.containerLogin form{  
  box-shadow: 5px 5px 10px rgba(101, 134, 210, 0.91);
  background-color: #082a41;
  border-radius: 8px;
  box-sizing: border-box;
  height: 25rem;
  width: 300px;
  margin: 0 .5rem;
  padding: 3em 1rem;
}
.input-label{  
  width: 100%;
  margin-bottom: 3.3rem;
  text-align: center;
}
.input-label label{  
  font-weight: bolder; 
  font-size: 20px;   
  font-family: 'Lobster', cursive; 
  letter-spacing: 3px;
  color: rgb(236, 229, 229);
}
.input-label p{  
  font-weight: bolder;  
  font-size: 9px;
  color: #945206;
  margin: 4px;
}
.input-label input{  
  padding: .6rem;
  color: rgb(3, 13, 34) ;
  border-radius: 20px ;
  margin-top: .5rem;
  font-size: 20px;
  font-family: 'Lobster', cursive;
}
button:focus,
.input-label input:focus{  
  outline-width: 0;
}
.containerLogin form div {
  margin-top: 1rem;
  height: 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr ;
}
.containerLogin form span {
  color:#945206 ;
}
.help-text {  
  margin-top: 1.5rem;
}
.btn-form {
  color:#e5eaee ;
  font-weight: bolder;
  background-color: #2F854E;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: 'Lobster', cursive;
  letter-spacing: 3px;
  margin-top: .6rem;
  border-radius: 10px;
}
.btn-form:hover{
  background-color:#e5eaee ;
  color: #2F854E;  
}
.help-text p{
  font-size: 13px;
  font-weight: bolder;
  float: right;
  margin-top: 1.5rem;
  color: #9c9ce0;
}


/* FOOTER */

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #1251A0;
  color: #F7F4E7;
  display: flex;
  justify-content: space-between;
  padding: 1px 10px;
}
.homeIcon{
  margin-top: 7px;
  margin-left: .9vw;
}

/* HOME */
.container-list{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 5px; 
  padding: 5px; 
  margin-bottom: 3.2rem;
}
.add-prod-box{
  display: grid;
  width: 90%;
  top: -600px;
  left: 3px;
  justify-content: space-around;
  position: fixed;
  background: #F4F3F9;
  box-shadow: 0px 0px 8px 2px #D2E3F6;
  z-index: 1;
  padding: 0 14px;
}
.add-icon{
  z-index: 1;
  background:  #c1d0e2;
  position: fixed;
  bottom: 4.5rem;
  right: 2rem;
  border-radius: 50%;
  padding: 2px 1px 1px 1px;
  box-shadow: 1px 5px 50px rgb(3, 7, 65);
}


/* ADDPIZZAS */
.add{
  padding: 0 0 .7em 0;
  display: grid;
  grid-template-columns: 1fr;
  width: 300;
  color: #27385B;
}
.add label {
  font-weight: bolder;
}



/*DISPONIVEL*/

.wrap-producao, .wrap-saida{
  text-align: center;
  background: #CFD6EB;
  width: 90%;
  border-radius: 10px;
  position: fixed; 
  border-bottom: solid .1rem rgb(61, 60, 60);
  border-right: solid .1rem rgb(61, 60, 60);
  height: 270px;
}
.atras, .frente{
  position: fixed; 
 
}
.wrap-saida h3{
  margin: .1rem 0;
}
.wrap-producao h3{
  margin: .1rem 0;
}
.wrap-form{
  margin: .6rem 1rem;
}
.wrap-form label{
  color: #27385B;
  font-weight: bolder;
}
.ms{
  display: flex;
  justify-content: space-around;
  margin-bottom: .6rem;
  border-bottom: solid .1em gray;
  padding-bottom: 15px;
  
}
.md{
  display: flex;
  justify-content: space-around;
}
.atras{
  left: 9%;
  top: 45%;
  height: 250px;
}
.frente{
  left: 1%;
  top: 44%;
  height: 270px;
  z-index: 1;
}
/* DISPONIVEL - MUDANÇA DE ORDEm */
.frente-esquerda{
  left: -3%;
  top: 45%;
  transition: 1s;
}
.atras-direita{
  left: 13%;
  top: 44%;
  transition: 1s;
}


/* PIZZA-LIST */
.container-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 5px;
  margin-bottom: 3.2rem;
}
.add-pizza-box{
  display: grid;
  width: 70%;
  top: -400px;
  justify-content: space-around;
  position: fixed;
  background: #F4F3F9;
  left: 10%;
  box-shadow: 0px 0px 8px 2px #D2E3F6;
  z-index: 1;
  padding: 1em;
}
/* MEDIA SCREEN */
@media screen and (min-width: 429px){
  /* PIZZA-LIST */
  .container-list{
    grid-template-columns: repeat(3, 1fr);
  }
  .add-pizza-box{
    left: 13%;
  }
  /* HOME */
  .add-prod-box{
    left: 40px;
    width: 350px;
  }
  /* DISPONIVEL */
 
}
@media screen and (min-width: 629px){
  .container-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .add-pizza-box{
    padding: 0;
    left: 15%;
  }

  /* HOME */
  .add-prod-box{
    left: 90px;
    width: 500px;
  }
  /* DISPONIVEL */
  .wrap-saida{
    left: 51%;
    top: 45%;
    width: 48%;
    padding-top: 2rem;
  }
  .wrap-producao{
    z-index: 1;
    top: 45%;
    width: 48%;
    padding-top: 2rem;
  }
  .frente-esquerda{
    top: 45%;
  }
  .atras{
    left: 1%;
    top: 45%;
    height: 250px;
  }
}
/* @media screen and (max-height: 568px){
  
  /* DISPONIVEL */
  /* .wrap-saida
    left: 6%;
    top: 46%;
    height: 240px;
  
  .wrap-producao
    z-index: 1;
    top: 46%;
    height: 240px;
    left: 6%; */
  

 
@media screen and (max-width: 568px){
  
  /* DISPONIVEL */
  .wrap-saida{
    left: 6%;
    top: 46%;
    height: 240px;
  }
  .wrap-producao{
    z-index: 1;
    top: 46%;
    height: 240px;
    left: 6%;
  }

  /* LOGIN */

  .lateral{
    display: none;
  }
  .containerLogin{
    justify-content: center;
    padding: 0;
    transition: .8s;
  }
 
}
@media screen and (max-width: 837px){
  
  /* LOGIN */
  .lateral{
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .lateral h1{
    font-size: 2rem;
  }
  .img1{
    display: none;
  }
  .img2{
    grid-row: 1 / span 5 ;
    grid-column: span 2 ;
  }
  .img3{
    grid-row: 2 /span 5 ;
    grid-column: 3 span 2 ;
  }
}
